html {
    font-size: 15px;
}

body {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    justify-content: center;
    font-size: 2rem;
    color: rgb(0 0 0 / 42%);
}


.nav-link {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bolder;
}

.icon-link {
    display: flex;
    justify-content: center;
}

.icon-link a {
    color: black;
    margin: 0.3rem;
    font-size: 1.5rem;
}

.presentacion {
    text-align: center;
}

.presentacion h1 {
    text-transform: uppercase;
    padding-top: 5rem;
    font-weight: bold;
    font-size: 2.2rem;
}

.presentacion h2 {
    padding-top: 1.5rem;
    font-size: 1.8rem;
}

.presentacion p {
    padding-top: 1.5rem;
    font-size: 1.3rem;
    line-height: 2.5rem;
}

.contenedor-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3rem;
}

.contenedor-img img {
    max-width: 100%;
    height: auto;
    padding-top: 2rem;
}

@media (min-width: 992px) {
    .contenedor-img img {
        max-width: 750px;
        height: auto;
    }

    .presentacion h1 {
        font-size: 3rem;
    }
}

.proyectos {
    background: linear-gradient(to bottom, #5BE9B9, #ffffff);
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 3rem;
    padding: 3rem;
    padding-bottom: 10rem;
}

.proyectos h1 {
    text-transform: uppercase;
    font-size: 2.2rem;
    padding-bottom: 2rem;
    font-weight: bold;
}

.proyectos h2 {
    padding-top: 1.5rem;
    font-size: 1.8rem;
    margin-bottom: 6rem;
}

.card-img-top {
    background: black;
    width: 100%;
    transition: opacity 0.3s ease-in-out;
}

.img-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.card-img-top,
.card-gif {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out;
}

.card-gif {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.img-container:hover .card-img-top {
    opacity: 0;
}

.img-container:hover .card-gif {
    opacity: 1;
}

.fa-brands,
.fab {
    font-size: 2.5rem;
    padding: .4rem;
}

.card-body a {
    text-decoration: none;
    background: none;
    color: #000814;
}

.contacto {
    margin-top: 5rem;
}

.contacto h4 {
    padding-bottom: 2rem;
}

footer {
    background-color: #000814;
    padding: 20px 0;
    color: white;
    margin-top: 40px;
}


.anchor {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    font-family: sans-serif;
    font-weight: 600;
    border-radius: 50px;
    border: 2px solid #ed553b;
    padding: 14px 40px 13px;
    overflow: hidden;
    position: relative;
}

.anchor:hover {
    color: #4e484a;
}

.button a::before {
    position: absolute;
    content: "";
    z-index: 0;
    background-color: #ed553b;
    left: -5px;
    right: -5px;
    bottom: -5px;
    height: 111%;
    transition: all .3s ease;
}

.button a:hover::before {
    height: 11%;
}

.button span {
    position: relative;
    z-index: 2;
    transition: all .3s ease;
}